<div class="h-full w-full flex flex-col">
    <header class="h-20 px-10 py-10 border border-gray-300 flex w-full justify-between items-center ">
    <div class="w-40 flex justify-between ">
        <img src="menu.svg" height="30" width="30"/>
        <div>
            <p class=" text-xl font-bold">Notes</p>
            <P>By Anmol</P>
        </div>
    </div>
          <div class="w-300">
            <input class="w-270 h-15 focus:h-auto px-5 text-xl focus:bg-white focus:outline-none focus:border focus:border-gray-300 bg-gray-300 rounded-xl" placeholder="search"/>
         </div>
        <div class="flex gap-10">
            <img src="refresh.svg" height="30" width="30" />
            <img src="grid.svg" height="30" width="30" />
            <img src="gear.svg" height="30" width="30" />
        </div>
        <div>
            <div class="w-10 h-10 rounded-full bg-green-600  flex items-center justify-center">
                <p class="text-2xl text-white font-bold">A</p>
            </div>
        </div>
    </header>
   <main>
    <div class="flex-1 flex flex-col items-center  w-full">
        <form id="notes" class="flex flex-row  h-45  w-200 border-gray-400   border-2 rounded-xl shadow-2xl m-20">
           <div class="my-3 mx-3 flex flex-col gap-6 w-full p-2">
            <input id="title" class="text-2xl font-bold w-full  focus:outline-none" placeholder="Title"/>
            <input id="text" class="text-xl w-full  focus:outline-none" required placeholder="Take a note"/>
            <div class="w-full flex justify-end ">
                <button class="w-20  text-center font-bold hover:bg-gray-100  " type="submit">Add</button>
            </div>
           </div>
        </form>

        <section class="flex w-full px-10 gap-4 " id="content">

        </section>

    </div>
   </main>
</div>